body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.help-block {
	font-size: small;
	margin-bottom: 0;
}

/* Si on veut que les etoiles deviennent rouge lors dune erreur
.has-error .requis {
  color: #a94442;
}
*/

.well {
	background-color: #fbfbfb;
}

.requis {
	color: #428BCA;
	margin-left: 2px;
}

.login {
  color: #428BCA;
}

.signInFooter {
	font-size: small;
	display: inline;
	margin-left: 20px;
	text-align: right;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

